.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iframe {
  width: 85vh;
  height: 60vh;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  padding: 1.5vw; /* match section padding */
  border: none; /* remove default iframe border */
}

.iframe:hover {
  transform: translateY(-0.5vw); /* match section hover behavior */
}
