.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  margin-bottom: 4vw;
  margin-left: 4vw;
  margin-right: 4vw;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  padding-left: 3vw;
  padding-right: 3vw;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
}

.section:hover {
  transform: translateY(-0.5vw);
}

.sectionTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2vw;
}

.sectionText {
  margin-bottom: 1.2vw;
  line-height: 1.8;
}

.section p {
  margin-bottom: 1vw;
}

.section ul {
  padding-left: 0.5rem;
}
.section ul li {
  margin-bottom: 0.75vw;
  margin-top: 0.2vw;
}

.section ul li a {
  color: var(--foreground);
  transition: color 0.3s ease;
}

.sectoin ul li a:hover {
  color: #0070f3;
}
